docs/
node_modules/
bower_components/
coverage/
.sass-cache/
.tmp/
.doc.build/
.client.build/
.server.build/
.wiki.build/
.build/
dist/
client/src/app/constants/*
*.sublime-project
*.sublime-workspace
*.log
.bower.json
env.json
appfy.json