<div class="about">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <br /> <br /> <br /> <br />
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half-desktop">
                        <app-pic file="'/assets/images/angular-morris-logo.svg'"></app-pic>
                        <div class="has-text-centered">
                            <h4 class="subtitle is-4">Angular & Morris</h4>
                            <p>
                               Easy creation of charts with libs that you already loves.
                            </p>
                        </div>
                    </div>

                    <div class="column is-half-desktop">
                        <app-pic file="'/assets/images/github-octocat.svg'"></app-pic>
                        <div class="has-text-centered">
                            <h4 class="subtitle is-4">Community</h4>
                            <p>
                                Tested and aproved by people around the world.
                            </p>
                        </div>
                    </div>

                    <div class="column cli">
                        <app-pic file="'/assets/images/install-cli.png'"></app-pic>
                        <div class="has-text-centered">
                            <h4 class="subtitle is-4">Easy installation</h4>
                            <p>
                                Use bower or npm to get angular-morris, then just reference the lib in your html template.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>