<footer class="app-footer ng-hide animate-show" ng-show="$ctrl.showFooter">
    <div class="container">


        <div class="columns is-multiline">
            <div class="column is-half-desktop has-text-centered">
                <ul class="menu-list">
                    <li> <a ui-sref="app.home">Home</a></li>
                    <li> <a ui-sref="app.wiki">Docs</a></li>
                    <li> <a href="https://github.com/st1s/angular-morris/releases">Changelog</a></li>
                </ul>
            </div>


            <div class="column is-half-desktop copyright">
                <div class="has-text-centered">
                    <p>
                        <span>Built with</span> <span class="heart"></span> <span>using</span> <a href="https://appfy.org">Appfy</a>
                    </p>
                    <p style="font-size: 85%; margin-top: 7px;">
                        Created by <a href="https://st1s.io">st1s</a>
                    </p>
                </div>
            </div>
        </div>



        <br /><br />
    </div>
</footer>