<div class="about-bar markdown-body">
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">


                <div class="columns is-multiline">


                    <div class="column is-half-desktop bar">
<div
bar-chart 
bar-data='[
    { y: "2009", a: 75,  b: 65 },
    { y: "2010", a: 50,  b: 40 },
    { y: "2011", a: 75,  b: 65 },
    { y: "2012", a: 100, b: 90 }
]'
bar-x='y'
bar-y='["a", "b"]'
bar-labels='["Series A", "Series B"]'
bar-colors='["#31C0BE", "#c7254e"]'>
</div>

                    </div>

                    <div class="column is-half-desktop">
                        <h3 class="">
                            Bar Sample
                            </h3>
           <pre><code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>
<span class="hljs-attribute">bar-chart</span> 
<span class="hljs-attribute">bar-data</span>=<span class="hljs-value">'[
    { y: "2009", a: 75,  b: 65 },
    { y: "2010", a: 50,  b: 40 },
    { y: "2011", a: 75,  b: 65 },
    { y: "2012", a: 100, b: 90 }
]'</span>
<span class="hljs-attribute">bar-x</span>=<span class="hljs-value">'y'</span>
<span class="hljs-attribute">bar-y</span>=<span class="hljs-value">'["a", "b"]'</span>
<span class="hljs-attribute">bar-labels</span>=<span class="hljs-value">'["Series A", "Series B"]'</span>
<span class="hljs-attribute">bar-colors</span>=<span class="hljs-value">'["#31C0BE", "#c7254e"]'</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
                    </div>

                </div>




            </div>
        </div>
    </section>
</div>