/**
 * angular morris chart provides morris.js wrappers directives for angular
 * based in ngmorris from Connor James Leech
 * 
 * check out documentation in http://angular-morris-chart.stpa.co
 *
 * Copyright © 2014 Stewan Pacheco <talk@stpa.co>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the “Software”), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
a.logo { padding: 0 !important; }
a.logo img { max-width: 140px !important; margin-bottom: -36px; }
a.logo:hover { background: transparent !important; opacity: .5; border: none}
a.logo:active { background: transparent !important; }


pre {
background-color: #333 !important; 
font-size: 14px !important;
}
.hljs {
  background: #333;
}

ul.nav h1 { font-size: 21px; }

.tab-content { padding: 35px; margin-top: 40px; }
.tab-content h2:first-child { margin-top: 0px;}
.tab-content h2 { color: #813a6a; margin-top: 45px;}
.tab-content ul { margin: 10px 0 14px;}
.tab-content ul li { margin: 10px 0;}
.tab-content p { margin: 0 0 5px;}

@media (max-width: 768px) {
	.tab-content {
		margin-top: 0px;
		padding: 7px;
	}
}

.copyright { color: #888; }
.copyright a { padding: 0 !important; margin: 0 !important; display: inline-block !important; }
ul.social li { text-align:center; list-style-type: none; display: inline-block; float: left; width: 100px}
li.gh { margin: 10px 0 0; text-align: center; }

p { font-size: 14px}

.hljs-string, .hljs-title, .hljs-constant, .hljs-parent, .hljs-tag .hljs-value, .hljs-rule .hljs-value, .hljs-preprocessor, .hljs-pragma, .hljs-name, .haml .hljs-symbol, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .hljs-addition, .hljs-flow, .hljs-stream, .bash .hljs-variable, .pf .hljs-variable, .apache .hljs-tag, .apache .hljs-cbracket, .tex .hljs-command, .tex .hljs-special, .erlang_repl .hljs-function_or_atom, .asciidoc .hljs-header, .markdown .hljs-header, .coffeescript .hljs-attribute {
    color: #FF7575;
}

.hljs, .hljs-subst, .hljs-tag .hljs-title, .nginx .hljs-title {
    color: #eee;
}

.tabs-vertical > li {
    float: none !important;
}

.tabs-vertical > li.active > a {
   border-top-color: transparent !important;
   border-right-color: transparent !important;
   border-width: 2px !important;
}

h4 {
    margin-top: 30px !important;
    margin-bottom: 5px !important;
}

.feed ul {     margin: 0;    padding: 7px 17px;}
.feed ul li { margin-bottom: 10px; }