<div class="app-share">
    <div class="nav-center">
        <div class="nav-item is-tab ">
            <iframe src="//www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fangular-morris.io&amp;layout=button_count" scrolling="no"
                frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
        </div>
        <div class="nav-item is-tab ">
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="angularjs, morrisjs, charts, javascript">Tweet</a>
        </div>
        <div class="nav-item is-tab is-hidden-mobile">
            <div class="g-plus" data-action="share" data-href="'https://angular-morris.io'"></div>
        </div>
    </div>
</div>