<div class="app-share">
    <div class="nav-center">
        <div class="nav-item is-tab ">
            <!-- FB -->
            <iframe src="//www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fangular-morris-chart.stpa.co&amp;layout=button_count"
                scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
            <!-- /FB -->
        </div>
        <div class="nav-item is-tab is-hidden-mobile">
            <!-- G+ -->
            <div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://angular-morris-chart.stpa.co"></div>
            <!-- /G+ -->
        </div>
        <div class="nav-item is-tab ">
            <!-- TW+ -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="angularjs">Tweet</a>
            <!-- /TW+ -->
        </div>
    </div>
</div>