<p><strong>angular-morris</strong> is an angular module that extends the API of <strong>morris.js</strong>, to work with directives.</p>
<p>There are four directives based on morris that represents the type of charts you wants</p>
<ul>
<li><code>bar-chart</code></li>
<li><code>line-chart</code></li>
<li><code>donut-chart</code></li>
<li><code>area-chart</code></li>
</ul>
<h2 id="getting-started">Getting started</h2>
<p>Check this simple sample on <a href="https://jsfiddle.net/st1s/0qqs6rhb/">jsfidle</a></p>
<iframe width="100%" height="300" src="//jsfiddle.net/st1s/0qqs6rhb/embedded/result,js,html,css" allowfullscreen="allowfullscreen" frameborder="0"></iframe>


<h2 id="what-s-next-">What&#39;s next?</h2>
<ul>
<li><a href="https://angular-morris.io/#/docs/Installing">Installing</a></li>
<li><a href="https://angular-morris.io/#/docs/Examples">Examples</a></li>
</ul>
<h2 id="resource">Resource</h2>
<ul>
<li><p>Usage of dataFormat with line charts #45
<a href="https://jsfiddle.net/st1s/q8mcqm8k/">https://jsfiddle.net/st1s/q8mcqm8k/</a></p>
</li>
<li><p>$scope issues related #42
<a href="https://jsfiddle.net/st1s/0qqs6rhb/">https://jsfiddle.net/st1s/0qqs6rhb/</a></p>
</li>
<li><p>Working with async calls
<a href="https://jsfiddle.net/st1s/xtuso6q8/">https://jsfiddle.net/st1s/xtuso6q8/</a></p>
</li>
<li><p>Usage of goalLineColors
<a href="https://jsfiddle.net/st1s/9zjasq3r/">https://jsfiddle.net/st1s/9zjasq3r/</a></p>
</li>
<li><p>Usage of postUnits 
<a href="https://jsfiddle.net/st1s/n6aaLckb/">https://jsfiddle.net/st1s/n6aaLckb/</a></p>
</li>
</ul>
<h2 id="notes">Notes</h2>
<ul>
<li>To contribute just read <a href="https://github.com/st1s/angular-morris/blob/master/CONTRIBUTING.md">this file</a> before</li>
<li>Verify the changes in <a href="https://github.com/st1s/angular-morris/releases">changelog</a></li>
<li>Look <a href="http://morrisjs.github.io/morris.js/">Morris documentation</a> to check api</li>
</ul>
<h2 id="top-contributors">Top Contributors</h2>
<table>
<thead>
<tr>
<th><a href="https://github.com/stewones">st1s</a></th>
<th><a href="https://github.com/venkatramachandran">venkatrama</a></th>
<th><a href="https://github.com/rolaveric">rolaveric</a></th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://github.com/stewones"><img alt="stewones" src="https://avatars.githubusercontent.com/u/719763?v=3&s=117" width="117"></a></td>
<td><a href="https://github.com/venkatramachandran"><img alt="venkatramachandran" src="https://avatars.githubusercontent.com/u/4744258?v=3&s=117" width="117"></a></td>
<td><a href="https://github.com/rolaveric"><img alt="rolaveric" src="https://avatars.githubusercontent.com/u/960670?v=3&s=117" width="117"></a></td>
</tr>
</tbody>
</table>
<h2 id="license">License</h2>
<p><code>angular-morris</code> is open-source software licensed under <a href="http://opensource.org/licenses/MIT">MIT</a>, maintained by <a href="https://github.com/stewones">@st1s</a> and some beautiful people around the world. Many thx to all s2. Feel free to open an issue or make a PR.</p>
