.about-line h3 {
    font-size: 30px;
    margin-top: 0;
}


/*
.about-bar .hero, .about-bar pre {
    background: #333
}

.about-bar code {
    color: #ddd
}


.about-bar text {
    fill: #eee !important;
}*/


/*@media (min-width: 1180px) {
    .about-bar .container {
        max-width: 950px
    }
}*/