<div class="about-line markdown-body">
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">


                <div class="columns is-multiline">


                    <div class="column is-half-desktop line">
<div
line-chart
line-data='[
    { y: "2006", a: 74, b: 47 },
    { y: "2007", a: 83,  b: 70 },
    { y: "2008", a: 54,  b: 92 },
    { y: "2009", a: 31,  b: 53 },
    { y: "2010", a: 92,  b: 83 },
    { y: "2011", a: 30,  b: 42 },
    { y: "2012", a: 11, b: 6 }
]'
line-xkey='y'
line-ykeys='["a", "b"]'
line-labels='["Serie A", "Serie B"]'
line-colors='["#31C0BE", "#c7254e"]'>
</div>

                    </div>

                    <div class="column is-half-desktop">
                        <h3 class="">
                            Line Sample
                            </h3>
<pre><code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>
<span class="hljs-attribute">line-chart</span>
<span class="hljs-attribute">line-data</span>=<span class="hljs-value">'[
    { y: "2006", a: 74, b: 47 },
    { y: "2007", a: 83,  b: 70 },
    { y: "2008", a: 54,  b: 92 },
    { y: "2009", a: 31,  b: 53 },
    { y: "2010", a: 92,  b: 83 },
    { y: "2011", a: 30,  b: 42 },
    { y: "2012", a: 11, b: 6 }
]'</span>
<span class="hljs-attribute">line-xkey</span>=<span class="hljs-value">'y'</span>
<span class="hljs-attribute">line-ykeys</span>=<span class="hljs-value">'["a", "b"]'</span>
<span class="hljs-attribute">line-labels</span>=<span class="hljs-value">'["Serie A", "Serie B"]'</span>
<span class="hljs-attribute">line-colors</span>=<span class="hljs-value">'["#31C0BE", "#c7254e"]'</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
                    </div>

                </div>




            </div>
        </div>
    </section>
</div>