<div class="about-donut markdown-body">
    <section class="hero is-dark is-medium">
        <div class="hero-body">
            <div class="container">


                <div class="columns is-multiline">
                    <div class="column is-half-desktop">
                        <h3 class="">
                            Donut Sample
                            </h3>
                            <pre><code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>
<span class="hljs-attribute">donut-chart</span>
<span class="hljs-attribute">donut-data</span>=<span class="hljs-value">'[
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales",value: 30},
    {label: "Mail-Order Sales", value: 20}
]'</span>
<span class="hljs-attribute">donut-colors</span>=<span class="hljs-value">'["#31C0BE","#c7254e","#98a0d3"]'</span>
<span class="hljs-attribute">donut-formatter</span>=<span class="hljs-value">'"currency"'</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
                    </div>

                    <div class="column is-half-desktop donut">
                        <div donut-chart donut-data='[
                        {label: "Download Sales", value: 12},
                        {label: "In-Store Sales",value: 30},
                        {label: "Mail-Order Sales", value: 20}
                    ]' donut-colors='["#31C0BE","#c7254e","#98a0d3"]' donut-formatter='"currency"'>
                        </div>
                    </div>

                </div>




            </div>
        </div>
    </section>
</div>